APP_ENV=dev
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app
RABBITMQ_DEFAULT_USER=app
RABBITMQ_DEFAULT_PASS=app
IMPORT_MAX_FILE_SIZE=10485760
IMAGE_DOWNLOAD_MAX_SIZE=10485760
IMAGE_DOWNLOAD_TIMEOUT=10
